body {
  overflow-x: hidden;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images img {
  margin: 0 20px;
}

.images img:hover {
  background: #000;
  color: #000;
  border-radius: 5px;
}

.a-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.popover__title {
  font-family: "Trebuchet MS";
  font-size: 16px;
}

.popover__wrapper {
  position: relative;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 2.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -8px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.content {
  display: none;
  visibility: hidden;
  position: absolute;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  /* width: auto; */
}

.content:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -8px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover:hover .content {
  z-index: 10;
  display: block;
  visibility: visible;
  width: 400%;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  margin-left: 200px;
}

.all {
  text-align: center;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2a2a2a;
  text-decoration: underline;
  margin-bottom: 10px;
}

.magic {
  cursor: pointer;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2a2a2a;
  margin-bottom: 10px;
  text-align: center;
}

.hammer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h4 {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 249.6%;
  color: #2a2a2a;
}
